// font size
$default-font-size: 1.6rem;

// color
$color-primary-light-1: #f59e0b;
$color-primary-light-2: #fcd34d;
$color-primary-dark-1: #b45309;
$color-primary-dark-2: #d97706;
$color-primary-bg: #fff7ed;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #d5d1d1;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// dimension
$navigation-height: 7rem;

// header background
$header-bg-1: url(../img/header-1.jpg);
$header-bg-2: url(../img/header-2.jpg);
$header-bg-3: url(../img/header-3.jpg);
